<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 70px;
    background: linear-gradient(to right, #2e85e2, #5ec0e0);
    color: white;
        }
    </style>
</head>
<body>
<%- include('./partials/navbarUser.ejs') %>

    <div class="container overlay">
        <div class="content-section">
            <div class="description">
                <h1 style="color: rgb(255, 247, 247);">Selamat Datang di Toko All Blue!</h1>
                <p style="color: white;">All Blue adalah toko online yang khusus menjual ikan air asin dan ikan air tawar. Baik Anda mencari ikan laut segar atau ikan air tawar untuk konsumsi Anda, kami memiliki beragam pilihan produk berkualitas tinggi yang tersedia. Mulailah menjelajahi katalog kami hari ini untuk menemukan ikan yang sempurna untuk kebutuhan Anda!</p>
            </div>
            <img src="https://png.pngtree.com/png-vector/20240116/ourmid/pngtree-striped-marlin-fish-art-pic-png-image_11442665.png" alt="Fish Illustration">
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
